<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<title>WebShell tunnel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
  html {
    background: #555;
  }

  h1 {
    margin-bottom: 20px;
    font: 20px/1.5 sans-serif;
  }

  .terminal {
    float: left;
    border: #475A5F solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;
    background: #475A5F;
  }

  .terminal-cursor {
    color: #000;
    background: #f0f0f0;
  }
</style>
<h1>Webshell tunnel</h1>
<div id="connectDiv" style="display:none">
    <input type="text" value="" placeholder="内网ip" id="lanAddr"/>
    <input type="text" value="23" placeholder="内网端口" id="lanPort"/>
    <input type="button" value="连接" onclick="onconnecting();"/>
</div>
<div id="webshell">
</div>
<div>
<textarea cols="60" rows="3" wrap="off" id="textToSend" style="width:99%; font-family:'Courier New', Courier, mono; font-size:11px;background:#475A5F;color:#FFFFFF;"></textarea>
<input type="button" id="send" onclick='sendBlock();' value="发送"/>
</div>
<script src="/static/telnet/base64.js"></script>
<script src="/static/telnet/util.js"></script>
<script src="/static/telnet/websock.js"></script>
<script src="/static/telnet/webutil.js"></script> 
<script src="/static/telnet/keysym.js"></script> 
<script src="/static/telnet/term.js"></script>
<script src="/static/jquery.min.js"></script>
<script>

var QueryString = function () {
  // This function is anonymous, is executed immediately and 
  // the return value is assigned to QueryString!
  var query_string = {};
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
        // If first entry with this name
    if (typeof query_string[pair[0]] === "undefined") {
      query_string[pair[0]] = pair[1];
        // If second entry with this name
    } else if (typeof query_string[pair[0]] === "string") {
      var arr = [ query_string[pair[0]], pair[1] ];
      query_string[pair[0]] = arr;
        // If third or later entry with this name
    } else {
      query_string[pair[0]].push(pair[1]);
    }
  } 
    return query_string;
} ();

var ws, term, sQ = [];
function get_appropriate_ws_url() {
    var pcol;
    var u = document.URL;
    /*
     * We open the websocket encrypted if this page came on an
     * https:// url itself, otherwise unencrypted
     */
    if (u.substring(0, 5) == "https") {
       pcol = "wss://";
        u = u.substr(8);
    } else {
        pcol = "ws://";
    if (u.substring(0, 4) == "http")
        u = u.substr(7);
    }
    u = u.split('/');
    return pcol + u[0];
}

;(function() {
  window.onload = function() {

    ws = new Websock();
    ws.on('open', function(e) {
      term = new Terminal({
        cols: 180,
        rows: 50,
        useStyle: true,
        screenKeys: true,
        cursorBlink: false
      });

      term.on('data', function(data) {
          var tosend = [];
          for(var i = 0; i < data.length; i++) {
            tosend.push(data.charCodeAt(i));
          }
          ws.send(tosend);
      });

      term.on('title', function(title) {
        document.title = title;
      });

      term.open(document.getElementById("webshell"));

      //term.write('\x1b[31mWelcome to term.js!\x1b[m\r\n');
    });

    ws.on('close', function(e) {
        term.destroy();
    });
    ws.on('error', function(e) {
        term.destroy();
    });

    ws.on('message', function(e) {
        var arr = ws.rQshiftStr();
        term.write(arr);
    });

  if(typeof QueryString.net != "undefined") {
    $("#connectDiv").show();
  } else {
      ip = "127-0-0-1";
      port = "23";
      uri = get_appropriate_ws_url() + "/__tunnel/" + QueryString.d + "/" + ip + "/" + port;
      ws.open(uri, "binary");
  }

  };

}).call(this);

function onconnecting() {
    ip = document.getElementById("lanAddr").value;
    port = document.getElementById("lanPort").value;
    ip = ip.replace(/\./g, '-');
    if (typeof QueryString.d == undefined) {
        alert("deviceId not found");
        return;
    }
    uri = get_appropriate_ws_url() + "/__tunnel/" + QueryString.d + "/" + ip + "/" + port;
    ws.open(uri, "binary");
}

function sendBlock() {
  var tv = document.getElementById("textToSend");
  var data = tv.value + "\n";
  var tosend = [];
  for(var i = 0; i < data.length; i++) {
    tosend.push(data.charCodeAt(i));
  }
  ws.send(tosend);
  tv.value = "";
}
</script>
